/* MAIN SLIDER */

.carousel .carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-control-prev, .slick-prev{
    background: white;
    width: 4%;
    height: 50%;
    top: 25%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carousel-control-next, .slick-next{
    background: white;
    width: 4%;
    height: 50%;
    top: 25%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (max-width:767px){
    .carousel-control-prev, .carousel-control-next{
        display:none
    }
    .carousel .carousel-item {
        height: 250px;
    }

}


/* CATEGORY SLIDER */
      
.category {
     position: relative;
     display: flex;
     width: 100px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 11px;
     -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
     -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
     box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.category .category-body {
     padding: 1rem 1rem;
}

.category-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.category_img {
     height: 67px
}

.slick-slide {
     margin: 10px
}


/* PRODUCT */

.product-card{
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background-color: ;
  height: 100%;
} 

.product-img{
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
}


/* TOP DEALS */

.head-title{
  border-bottom: 1px solid #d2d2dc;
}

.head-title .title{
  margin: 20px;
}